In [1]:
import pandas as pd

In [2]:
pc_cluster = pd.read_csv("postalcode_cluster_mapping_CA.csv")

In [5]:
pc_cluster

         PCODE  cluster        LAT        LONG         Type
0       A0A0A0       27  47.571766  -53.292611        other
1       A0A0A1       50  47.396746  -53.222585        other
2       A0A0A4       22  47.529076  -53.272645        other
3       A0A0B1       50  46.633242  -53.583219        other
4       A0A0B2       18  47.096349  -52.943308        other
...        ...      ...        ...         ...          ...
907799  Y1A6K3       74  60.703384 -135.111656        other
907800  Y1A6K6       74  60.719651 -135.050194        other
907801  Y1A6L4       74  60.691511 -135.041061  residential
907802  Y1A6T3       74  60.695823 -135.111005        other
907803  Y1A6V2       74  60.695476 -135.109359        other

[907804 rows x 5 columns]

In [8]:
value_counts = pc_cluster['cluster'].value_counts().reset_index()

# Rename columns for clarity
value_counts.columns = ['cluster', 'count']
value_counts

    cluster  count
0        74  37212
1        32  31385
2         9  30720
3        67  28202
4        39  28004
..      ...    ...
70       21   3262
71       59   3152
72       12   2167
73        6   1477
74       64   1392

[75 rows x 2 columns]

In [15]:
value_counts['count'].sum()

907804

In [14]:
value_counts[value_counts['cluster'] == 74]["count"].sum()

37212

In [12]:
37212 / 907804

0.0409912271811977